* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    place-items: center;
    width: 100%;
    min-height: 100vh;
    font-family: system-ui;
    /* overflow-x: hidden; */
    background-color: #f9f0dc;
}

.brown {
    background-color: #f9f0dc;
}

/* nav */
#nav {
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    z-index: 99990;
}

#nav.fixed {
    position: fixed;
    left: 0;
    top: 0px;
}

#nav ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: #fff;
    font-family: "Oi";
    font-size: 1.7vw;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}

#nav ul li {
    width: 25%;
    text-align: center;
    padding: 1.5vw 1vw 1.2vw 1vw;
    /* border-right: 1px solid #000; */
    position: relative;
}

#nav ul li .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

#nav ul li a {
    position: relative;
}

#nav ul li img {
    width: 3.5vw;
    height: 3.5vw;
    position: absolute;
    top: 0.75vw;
    right: -1.77vw;
    z-index: 1000;
}

/* //nav */

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c1366;
}

.scrollTop {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    z-index: 30000;
}

#section01 {
    width: 100%;
    z-index: 9000;
}
#section02 {
    width: 100%;
    z-index: 8000;
}
#section03 {
    width: 100%;
    z-index: 7000;
}
#section04 {
    width: 100%;
    margin-top: 20vw;
}

.sec1 {
    width: 100%;
    height: 100vh;
}

.sec1 .title {
    font-size: 9vw;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1;
    font-family: "Oi";
    font-weight: 300;
    z-index: 1000;
}

.sec1 .title .t1 {
    -webkit-text-stroke: 3px #000;
    transform: translateY(-1000px);
    /* opacity: 0; */
}

.sec1 .title .t2 {
    color: #ffdc81;
    -webkit-text-stroke: 3px #000;
    transform: translateY(1000px);
}

/* .sec1 .title .t3 {
    font-family: 'SuseongHyejeong';
    font-size: 2vw;
    color: rgb(248, 77, 77);
    text-align: center;
    margin-top: 3vw;
} */

.sec1 img {
    position: fixed;
    background-image: url(../img/facebg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    z-index: 99999;
    opacity: 0;
    transform: scale(0.5);
}

/* sec1 */


/* sec2 */
.sec2 {
    width: 100%;
    position: relative;
    z-index: 2000;
}

.sec2 .about {
    margin-top: 15vw;
    text-align: center;
    font-family: "Oi";
    font-weight: 300;
    text-transform: uppercase;
}

.sec2 .about .about__title {
    font-size: 7vw;
    color: #fb450c;
    -webkit-text-stroke: 2px #000;
    margin-bottom: 3vw;
}

.sec2 .about .about__info01 {
    font-size: 6vw;
    display: flex;
    justify-content: center;
}

.sec2 .about .about__info01 span {
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.sec2 .about .about__info01 .aboutlogo {
    background-image: url(../img/ttlogo03.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 9vw;
    height: 9vw;
    margin: 0 2vw;
    opacity: 0;
}

.sec2 .about .about__info01 .aboutlogo.animaiton {
    animation: roll01 1.5s linear;
    opacity: 1;
}

@keyframes roll01 {
    from {
        transform: translateX(-1000px) rotate(360deg);
    }

    to {
        transform: translateX(0) rotate(0deg);
    }
}

.sec2 .about .about__info01 em {
    color: #000;
}

.sec2 .about .about__info02 {
    font-size: 6vw;
    display: flex;
    justify-content: center;
}

.sec2 .about .about__info02 span {
    color: #000;
}

.sec2 .about .about__info02 em {
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.sec2 .about .about__info02 .aboutlogo {
    background-image: url(../img/ttlogo01.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 9vw;
    height: 9vw;
    margin: 0 2vw;
    opacity: 0;
}

.sec2 .about .about__info02 .aboutlogo.animaiton {
    animation: roll02 2s linear;
    opacity: 1;
}

@keyframes roll02 {
    from {
        transform: translateX(-1000px) translateY(-1000px) rotate(360deg);
    }

    to {
        transform: translateX(0) translateY(0) rotate(0deg);
    }
}


.sec2 .about .about__info03 {
    font-size: 6vw;
    display: flex;
    justify-content: center;
}

.sec2 .about .about__info03 span {
    /* background: -webkit-linear-gradient(left, rgb(36, 35, 35), rgb(117, 114, 114));
    background:    -moz-linear-gradient(right, rgb(36, 35, 35), rgb(117, 114, 114));
    background:      -o-linear-gradient(right, rgb(36, 35, 35), rgb(117, 114, 114));
    background:         linear-gradient(to right, rgb(36, 35, 35), rgb(117, 114, 114));
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent; */
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.sec2 .about .about__info03 .aboutlogo {
    background-image: url(../img/ttlogo02.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 8vw;
    height: 8vw;
    margin: 0 2vw;
    opacity: 0;
}

.sec2 .about .about__info03 .aboutlogo.animaiton {
    animation: roll03 1.5s linear;
    opacity: 1;
}

@keyframes roll03 {
    from {
        transform: translateX(500px) rotate(360deg);
    }

    to {
        transform: translateX(0) rotate(0deg);
    }
}


.sec2 .about .about__text {
    margin-top: 6vw;
    font-family: "SangSangRock";
    font-size: 1.8vw;
    line-height: 0.8;
    color: #603f37;
    position: relative;
}

.sec2 .about .about__text p {
    opacity: 0;
}

.sec2 .about .about__text .atimg img {
    position: absolute;
    right: 12vw;
    bottom: -10vw;
    width: 10vw;
    height: 10vw;
    opacity: 0;
    transform: translate(300px, -300px);
}


.sec2 .about .about__skill01 {
    width: 100%;
    margin-top: 15vw;
    display: flex;
    /* overflow: hidden; */
}

.sec2 .about .about__skill01 .skills {
    margin: 1.5vw 1.5vw;
}

.sec2 .about .about__skill01 .skills img {
    height: 14vw;
}

.sec2 .about .about__skill02 {
    display: flex;
    width: 100%;
    position: absolute;
    left: -17vw;
    /* overflow: hidden; */
}

.sec2 .about .about__skill02 .skills {
    margin: 1.5vw 1.5vw;
}

.sec2 .about .about__skill02 .skills:nth-child(1) {
    margin: 1.5vw 1.5vw 0 0;
}

.sec2 .about .about__skill02 .skills img {
    height: 14vw;
}

.sec2 .about .about__skill03 {
    width: 100%;
    margin-top: 16vw;
    display: flex;
    /* overflow: hidden; */
}

.sec2 .about .about__skill03 .skills {
    margin: 3.0vw 1.5vw;
}

.sec2 .about .about__skill03 .skills img {
    height: 14vw;
}

/* //section2 */

/* section3  */
.sec3 {
    width: 100%;
    margin-top: 5vw;
    /* border-top: 1px solid #000; */
}

/* section03 rolling */
.sec3 .rolling__site {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 30vw;
    margin-top: 2vw;
}

.sec3 .rolling__site .line__yellow {
    width: 120%;
    height: 8vw;
    background: #FF450B;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    position: absolute;
    overflow: hidden;
    top: 20vw;
    left: -8vw;
    transform-origin: 100%;
    transform: rotate(8deg);
}

.sec3 .rolling__site .line__yellow .rolling01 {
    display: flex;
    align-items: center;
    font-family: "Oi";
    width: 100%;
    height: 100%;
    will-change: transform;
    animation: marquee 29s linear infinite;
    white-space: nowrap;
}

.sec3 .rolling__site .line__yellow p {
    font-size: 2.5vw;
    color: #fff;
    margin-top: 0.5vw;
    margin-right: 2vw;
}

.sec3 .rolling__site .line__yellow img {
    width: 5vw;
    height: 5vw;
    margin-right: 2vw;

}

.sec3 .rolling__site .line__orange {
    display: flex;
    width: 120%;
    height: 8vw;
    background: #FFD110;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    position: absolute;
    overflow: hidden;
    top: 20vw;
    left: -8vw;
    transform-origin: 0;
    transform: rotate(-8deg);
}

.sec3 .rolling__site .line__orange .rolling01 {
    display: flex;
    align-items: center;
    font-family: "Oi";
    width: 100%;
    height: 100%;
    will-change: transform;
    animation: marquee 29s linear infinite;
    white-space: nowrap;
}

.sec3 .rolling__site .line__orange p {
    font-size: 2.5vw;
    /* color: #fff; */
    margin-top: 0.5vw;
    margin-right: 2vw;
}

.sec3 .rolling__site .line__orange img {
    width: 5vw;
    height: 5vw;
    margin-right: 2vw;

}

@keyframes marquee {
    from {
        transform: translateZ(0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    }
}

/* //section03 rolling */


/* SITEWORK */

.sec3 .site__wrap {
    width: 70%;
    margin: 10vw auto;
    position: static;
}

.sec3 .site__wrap h2 {
    font-family: "Luckiest Guy";
    font-size: 7vw;
    margin-left: 1vw;
    text-align: center;
}

.sec3 .site__wrap .sitebox {
    width: 100%;
    height: 35vw;
    border: 3px solid #000;
    border-radius: 50px;
    box-shadow: 15px 15px #000;
}

.sec3 .site__wrap .site__box01 {
    position: sticky;
    top: 10vw;
    left: 0;
    margin-top: 5vw;
    background: #E3F8FF;
}

.sec3 .site__wrap .site__box01 h3 {
    width: 95%;
    text-align: right;
    margin-top: 2.5vw;
    font-family: "Geostar";
    font-size: 3.5vw;
    color: #1AC6FC;
}

.sec3 .site__wrap .site__box01 .box {
    display: flex;
    width: 100%;
}

.sec3 .site__wrap .site__box01 .box .mockup {
    width: 50%;
    position: relative;
}

.sec3 .site__wrap .site__box01 .box .mockup .mockupbg {
    width: 22vw;
    height: 22vw;
    background: #1AC6FC;
    border-radius: 100%;
    position: absolute;
    top: -2vw;
    left: 5vw;
}

.sec3 .site__wrap .site__box01 .box .mockup .mockuplogo {
    width: 8vw;
    height: 8vw;
    position: absolute;
    top: -5vw;
    left: 6vw;
}

.sec3 .site__wrap .site__box01 .box .mockup .mockupview {
    width: 25vw;
    height: 20vw;
    position: absolute;
    top: 3.5vw;
    left: 8vw;
}

.sec3 .site__wrap .site__box01 .box .desc {
    width: 50%;
}

.sec3 .site__wrap .site__box01 .box .desc p {
    width: 83%;
    height: 85%;
    margin: 3.5vw 0 0 2vw;
    font-family: "jua";
    font-size: 1.2vw;
    color: #036382;
}

.sec3 .site__wrap .site__box01 .box .desc .btns {
    margin: 0 0 0 2vw;
    width: 82%;
    display: flex;
    justify-content: space-between;
}

.sec3 .site__wrap .site__box01 .box .desc .btns .left,
.sec3 .site__wrap .site__box01 .box .desc .btns .right {
    width: 48%;
    display: flex;
    align-items: center;
    background: #d1edf5;
    padding: 0.5vw 0.5vw;
    border-radius: 50px;
}

.sec3 .site__wrap .site__box01 .box .desc .btns .left img,
.sec3 .site__wrap .site__box01 .box .desc .btns .right img {
    width: 3vw;
    height: 3vw;
}

.sec3 .site__wrap .site__box01 .box .desc .btns .right a,
.sec3 .site__wrap .site__box01 .box .desc .btns .left a {
    font-family: "Geostar";
    font-size: 1.1vw;
    color: #1AC6FC;
    margin-left: 0.5vw;
    font-weight: bold;
}

/* //site_box01 */

.sec3 .site__wrap .site__box02 {
    position: sticky;
    top: 10vw;
    left: 0;
    margin-top: 30vmax;
    background: #E7FFF1;
}

.sec3 .site__wrap .site__box02 h3 {
    width: 87%;
    text-align: right;
    margin-top: 2.5vw;
    font-family: "Geostar";
    font-size: 3.5vw;
    color: #0AB250;
}

.sec3 .site__wrap .site__box02 .box {
    display: flex;
    width: 100%;
}

.sec3 .site__wrap .site__box02 .box .mockup {
    width: 50%;
    position: relative;
}

.sec3 .site__wrap .site__box02 .box .mockup .mockupbg {
    width: 22vw;
    height: 22vw;
    background: #0AB250;
    border-radius: 100%;
    position: absolute;
    top: -2vw;
    left: 5vw;
}

.sec3 .site__wrap .site__box02 .box .mockup .mockuplogo {
    width: 8vw;
    height: 8vw;
    position: absolute;
    top: -5vw;
    left: 6vw;
}

.sec3 .site__wrap .site__box02 .box .mockup .mockupview {
    width: 25vw;
    height: 20vw;
    position: absolute;
    top: 3.5vw;
    left: 8vw;
}

.sec3 .site__wrap .site__box02 .box .desc {
    width: 50%;
}

.sec3 .site__wrap .site__box02 .box .desc p {
    width: 83%;
    height: 85%;
    margin: 3.5vw 0 0 2vw;
    font-family: "jua";
    font-size: 1.2vw;
    color: #074A23;
}

.sec3 .site__wrap .site__box02 .box .desc .btns {
    margin: 0 0 0 2vw;
    width: 82%;
    display: flex;
    justify-content: space-between;
}

.sec3 .site__wrap .site__box02 .box .desc .btns .left,
.sec3 .site__wrap .site__box02 .box .desc .btns .right {
    width: 48%;
    display: flex;
    align-items: center;
    background: #E7F7E5;
    padding: 0.5vw 0.5vw;
    border-radius: 50px;
}

.sec3 .site__wrap .site__box02 .box .desc .btns .left img,
.sec3 .site__wrap .site__box02 .box .desc .btns .right img {
    width: 3vw;
    height: 3vw;
}

.sec3 .site__wrap .site__box02 .box .desc .btns .right a,
.sec3 .site__wrap .site__box02 .box .desc .btns .left a {
    font-family: "Geostar";
    font-size: 1.1vw;
    color: #00843B;
    margin-left: 0.5vw;
    font-weight: bold;
}

/* //site_box02 */

.sec3 .site__wrap .site__box03 {
    position: sticky;
    top: 10vw;
    left: 0;
    margin-top: 30vw;
    background: #EEE7FF;
}

.sec3 .site__wrap .site__box03 h3 {
    width: 87%;
    text-align: right;
    margin-top: 2.5vw;
    font-family: "Geostar";
    font-size: 3.5vw;
    color: #9F72FF;
}

.sec3 .site__wrap .site__box03 .box {
    display: flex;
    width: 100%;
}

.sec3 .site__wrap .site__box03 .box .mockup {
    width: 50%;
    position: relative;
}

.sec3 .site__wrap .site__box03 .box .mockup .mockupbg {
    width: 22vw;
    height: 22vw;
    background: #8B55FF;
    border-radius: 100%;
    position: absolute;
    top: -2vw;
    left: 5vw;
}

.sec3 .site__wrap .site__box03 .box .mockup .mockuplogo {
    width: 8vw;
    height: 8vw;
    position: absolute;
    top: -5vw;
    left: 6vw;
}

.sec3 .site__wrap .site__box03 .box .mockup .mockupview {
    width: 25vw;
    height: 20vw;
    position: absolute;
    top: 3.5vw;
    left: 8vw;
}

.sec3 .site__wrap .site__box03 .box .desc {
    width: 50%;
}

.sec3 .site__wrap .site__box03 .box .desc p {
    width: 83%;
    height: 85%;
    margin: 3.5vw 0 0 2vw;
    font-family: "jua";
    font-size: 1.2vw;
    color: #4614AF;
}

.sec3 .site__wrap .site__box03 .box .desc .btns {
    margin: 0 0 0 2vw;
    width: 82%;
    display: flex;
    justify-content: space-between;
}

.sec3 .site__wrap .site__box03 .box .desc .btns .left,
.sec3 .site__wrap .site__box03 .box .desc .btns .right {
    width: 48%;
    display: flex;
    align-items: center;
    background: #DFD2FD;
    padding: 0.5vw 0.5vw;
    border-radius: 50px;
}

.sec3 .site__wrap .site__box03 .box .desc .btns .left img,
.sec3 .site__wrap .site__box03 .box .desc .btns .right img {
    width: 3vw;
    height: 3vw;
}

.sec3 .site__wrap .site__box03 .box .desc .btns .right a,
.sec3 .site__wrap .site__box03 .box .desc .btns .left a {
    font-family: "Geostar";
    font-size: 1.1vw;
    color: #753bf1;
    margin-left: 0.5vw;
    font-weight: bold;
}

/* //site_box03 */

.sec3 .site__wrap .site__box04 {
    position: sticky;
    top: 10vw;
    left: 0;
    margin-top: 30vw;
    background: #FBEBF3;
}

.sec3 .site__wrap .site__box04 h3 {
    width: 87%;
    text-align: right;
    margin-top: 2.5vw;
    font-family: "Geostar";
    font-size: 3.5vw;
    color: #FF3194;
}

.sec3 .site__wrap .site__box04 .box {
    display: flex;
    width: 100%;
}

.sec3 .site__wrap .site__box04 .box .mockup {
    width: 50%;
    position: relative;
}

.sec3 .site__wrap .site__box04 .box .mockup .mockupbg {
    width: 22vw;
    height: 22vw;
    background: #FF3194;
    border-radius: 100%;
    position: absolute;
    top: -2vw;
    left: 5vw;
}

.sec3 .site__wrap .site__box04 .box .mockup .mockuplogo {
    width: 8vw;
    height: 8vw;
    position: absolute;
    top: -5vw;
    left: 6vw;
}

.sec3 .site__wrap .site__box04 .box .mockup .mockupview {
    width: 25vw;
    height: 20vw;
    position: absolute;
    top: 3.5vw;
    left: 8vw;
}

.sec3 .site__wrap .site__box04 .box .desc {
    width: 50%;
}

.sec3 .site__wrap .site__box04 .box .desc p {
    width: 83%;
    height: 85%;
    margin: 3.5vw 0 0 2vw;
    font-family: "jua";
    font-size: 1.2vw;
    color: #AC0053;
}

.sec3 .site__wrap .site__box04 .box .desc .btns {
    margin: 0 0 0 2vw;
    width: 82%;
    display: flex;
    justify-content: space-between;
}

.sec3 .site__wrap .site__box04 .box .desc .btns .left,
.sec3 .site__wrap .site__box04 .box .desc .btns .right {
    width: 48%;
    display: flex;
    align-items: center;
    background: #FFC5E1;
    padding: 0.5vw 0.5vw;
    border-radius: 50px;
}

.sec3 .site__wrap .site__box04 .box .desc .btns .left img,
.sec3 .site__wrap .site__box04 .box .desc .btns .right img {
    width: 3vw;
    height: 3vw;
}

.sec3 .site__wrap .site__box04 .box .desc .btns .right a,
.sec3 .site__wrap .site__box04 .box .desc .btns .left a {
    font-family: "Geostar";
    font-size: 1.1vw;
    color: #FF3194;
    margin-left: 0.5vw;
    font-weight: bold;
}

/* //site_box04 */

.sec3 .site__wrap .site__box05 {
    position: sticky;
    top: 10vw;
    left: 0;
    margin-top: 30vw;
    background: #F8F8F8;
}

.sec3 .site__wrap .site__box05 h3 {
    width: 87%;
    text-align: right;
    margin-top: 2.5vw;
    font-family: "Geostar";
    font-size: 3.5vw;
    color: #848484;
}

.sec3 .site__wrap .site__box05 .box {
    display: flex;
    width: 100%;
}

.sec3 .site__wrap .site__box05 .box .mockup {
    width: 50%;
    position: relative;
}

.sec3 .site__wrap .site__box05 .box .mockup .mockupbg {
    width: 22vw;
    height: 22vw;
    background: #999999;
    border-radius: 100%;
    position: absolute;
    top: -2vw;
    left: 5vw;
}

.sec3 .site__wrap .site__box05 .box .mockup .mockuplogo {
    width: 8vw;
    height: 8vw;
    position: absolute;
    top: -5vw;
    left: 6vw;
}

.sec3 .site__wrap .site__box05 .box .mockup .mockupview {
    width: 25vw;
    height: 20vw;
    position: absolute;
    top: 3.5vw;
    left: 8vw;
}

.sec3 .site__wrap .site__box05 .box .desc {
    width: 50%;
}

.sec3 .site__wrap .site__box05 .box .desc p {
    width: 83%;
    height: 85%;
    margin: 3.5vw 0 0 2vw;
    font-family: "jua";
    font-size: 1.2vw;
    color: #747373;
}

.sec3 .site__wrap .site__box05 .box .desc .btns {
    margin: 0 0 0 2vw;
    width: 82%;
    display: flex;
    justify-content: space-between;
}

.sec3 .site__wrap .site__box05 .box .desc .btns .left,
.sec3 .site__wrap .site__box05 .box .desc .btns .right {
    width: 48%;
    display: flex;
    align-items: center;
    background: #E7E7E7;
    padding: 0.5vw 0.5vw;
    border-radius: 50px;
}

.sec3 .site__wrap .site__box05 .box .desc .btns .left img,
.sec3 .site__wrap .site__box05 .box .desc .btns .right img {
    width: 3vw;
    height: 3vw;
}

.sec3 .site__wrap .site__box05 .box .desc .btns .right a,
.sec3 .site__wrap .site__box05 .box .desc .btns .left a {
    font-family: "Geostar";
    font-size: 1.1vw;
    color: #848484;
    margin-left: 0.5vw;
    font-weight: bold;
}

/* //site_box05 */
/* //section3 */

/* section04 */
.sec4 {
    width: 100%;
}
.sec4 .rolling__script{
    width: 100%;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    background: #fff;
}
.sec4 .rolling__script .rolling {
    display: flex;
    align-items: center;
    will-change: transform;
    animation: marquee 23s linear infinite;
    white-space: nowrap;
}
.sec4 .rolling__script .rolling p {
    font-family: "Oi";
    font-size: 4vw;
    padding: 2.2vw 0 1.5vw 0;
    margin-right: 4vw;
}
.sec4 .rolling__script .rolling img {
    width: 7vw;
    height: 7vw;
    margin-right: 4vw;
}
/* sec4 rolling */

.sec4 .script__box01 {
    width: 100%;
    margin-top: 15vw;
    display: flex;
    justify-content:space-evenly
}
.sec4 .script__box01 .script__work {
    width: 65%;
    height: 35vw;
    outline: 3px solid #000;
    border-radius: 20px;
    box-shadow: 15px 15px #000;
}
.sec4 .script__box01 .script__work iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.sec4 .script__box01 .script__desc {
    width: 20%;
    height: 35vw;
    outline: 3px solid #000;
    border-radius: 20px;
    box-shadow: 15px 15px #000;
    background: rgb(211, 142, 142);
}









@media (max-width: 1200px) {
    .sec3 .site__wrap .sitebox {
        height: 65vmax;
    }

    .sec3 .site__wrap .site__box01 h3,
    .sec3 .site__wrap .site__box02 h3,
    .sec3 .site__wrap .site__box03 h3,
    .sec3 .site__wrap .site__box04 h3,
    .sec3 .site__wrap .site__box05 h3 {
        width: 100%;
        font-size: 5vw;
        text-align: center;
    }

    .sec3 .site__wrap .site__box01 .box,
    .sec3 .site__wrap .site__box02 .box,
    .sec3 .site__wrap .site__box03 .box,
    .sec3 .site__wrap .site__box04 .box,
    .sec3 .site__wrap .site__box05 .box {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .sec3 .site__wrap .site__box01 .box .mockup,
    .sec3 .site__wrap .site__box02 .box .mockup,
    .sec3 .site__wrap .site__box03 .box .mockup,
    .sec3 .site__wrap .site__box04 .box .mockup,
    .sec3 .site__wrap .site__box05 .box .mockup {
        width: 100%;
        height: 25vw;
    }

    .sec3 .site__wrap .site__box01 .box .mockup .mockupbg,
    .sec3 .site__wrap .site__box02 .box .mockup .mockupbg,
    .sec3 .site__wrap .site__box03 .box .mockup .mockupbg,
    .sec3 .site__wrap .site__box04 .box .mockup .mockupbg,
    .sec3 .site__wrap .site__box05 .box .mockup .mockupbg {
        display: none;
    }

    .sec3 .site__wrap .site__box01 .box .mockup .mockuplogo,
    .sec3 .site__wrap .site__box02 .box .mockup .mockuplogo,
    .sec3 .site__wrap .site__box03 .box .mockup .mockuplogo,
    .sec3 .site__wrap .site__box04 .box .mockup .mockuplogo,
    .sec3 .site__wrap .site__box05 .box .mockup .mockuplogo {
        display: none;
    }

    .sec3 .site__wrap .site__box01 .box .mockup .mockupview,
    .sec3 .site__wrap .site__box02 .box .mockup .mockupview,
    .sec3 .site__wrap .site__box03 .box .mockup .mockupview,
    .sec3 .site__wrap .site__box04 .box .mockup .mockupview,
    .sec3 .site__wrap .site__box05 .box .mockup .mockupview {
        width: 30vw;
        height: 25vw;
        position: absolute;
        top: 10%;
        left: 28%;
    }

    .sec3 .site__wrap .site__box01 .box .desc,
    .sec3 .site__wrap .site__box02 .box .desc,
    .sec3 .site__wrap .site__box03 .box .desc,
    .sec3 .site__wrap .site__box04 .box .desc,
    .sec3 .site__wrap .site__box05 .box .desc {
        width: 100%;
        text-align: center;
        margin-top: 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sec3 .site__wrap .site__box01 .box .desc p,
    .sec3 .site__wrap .site__box02 .box .desc p,
    .sec3 .site__wrap .site__box03 .box .desc p,
    .sec3 .site__wrap .site__box04 .box .desc p .sec3 .site__wrap .site__box05 .box .desc p {
        width: 82%;
        font-size: 1.4vmax;
        text-align: center;
    }

    .sec3 .site__wrap .site__box01 .box .desc .btns,
    .sec3 .site__wrap .site__box02 .box .desc .btns,
    .sec3 .site__wrap .site__box03 .box .desc .btns,
    .sec3 .site__wrap .site__box04 .box .desc .btns,
    .sec3 .site__wrap .site__box05 .box .desc .btns {
        margin: 4vw 0 0 2vw;
        width: 53%;
        display: flex;
        justify-content: space-between;
    }

    .sec3 .site__wrap .site__box01 .box .desc .btns .left,
    .sec3 .site__wrap .site__box01 .box .desc .btns .right,
    .sec3 .site__wrap .site__box02 .box .desc .btns .left,
    .sec3 .site__wrap .site__box02 .box .desc .btns .right,
    .sec3 .site__wrap .site__box03 .box .desc .btns .left,
    .sec3 .site__wrap .site__box03 .box .desc .btns .right,
    .sec3 .site__wrap .site__box04 .box .desc .btns .left,
    .sec3 .site__wrap .site__box04 .box .desc .btns .right,
    .sec3 .site__wrap .site__box05 .box .desc .btns .left,
    .sec3 .site__wrap .site__box05 .box .desc .btns .right {
        width: 45%;
        padding: 1.2vw 1.2vw;
    }

    .sec3 .site__wrap .site__box01 .box .desc .btns .right a,
    .sec3 .site__wrap .site__box01 .box .desc .btns .left a,
    .sec3 .site__wrap .site__box02 .box .desc .btns .right a,
    .sec3 .site__wrap .site__box02 .box .desc .btns .left a,
    .sec3 .site__wrap .site__box03 .box .desc .btns .right a,
    .sec3 .site__wrap .site__box03 .box .desc .btns .left a,
    .sec3 .site__wrap .site__box04 .box .desc .btns .right a,
    .sec3 .site__wrap .site__box04 .box .desc .btns .left a,
    .sec3 .site__wrap .site__box05 .box .desc .btns .right a,
    .sec3 .site__wrap .site__box05 .box .desc .btns .left a {
        font-size: 1.3vw;
        margin-left: 0.5vw;
    }

}

@media (max-width: 768px) {
    .sec1 .title .t1 {
        -webkit-text-stroke: 1px #000;
    }

    .sec1 .title .t2 {
        -webkit-text-stroke: 1px #000;
    }

    .sec3 .site__wrap {
        width: 80%;
    }

    .sec3 .site__wrap .sitebox {
        height: 70vmax;
    }

    .sec3 .site__wrap .site__box01,
    .sec3 .site__wrap .site__box02,
    .sec3 .site__wrap .site__box03,
    .sec3 .site__wrap .site__box04,
    .sec3 .site__wrap .site__box05 {
        top: 25vw;
    }

    .sec3 .site__wrap .site__box01 h3,
    .sec3 .site__wrap .site__box02 h3,
    .sec3 .site__wrap .site__box03 h3,
    .sec3 .site__wrap .site__box04 h3,
    .sec3 .site__wrap .site__box05 h3 {
        margin-top: 6vw;
        font-size: 5.5vw;
    }

    .sec3 .site__wrap .site__box01 .box .mockup,
    .sec3 .site__wrap .site__box02 .box .mockup,
    .sec3 .site__wrap .site__box03 .box .mockup,
    .sec3 .site__wrap .site__box04 .box .mockup,
    .sec3 .site__wrap .site__box05 .box .mockup {
        width: 100%;
        height: 25vh;
    }

    .sec3 .site__wrap .site__box01 .box .mockup .mockupview,
    .sec3 .site__wrap .site__box02 .box .mockup .mockupview,
    .sec3 .site__wrap .site__box03 .box .mockup .mockupview,
    .sec3 .site__wrap .site__box04 .box .mockup .mockupview,
    .sec3 .site__wrap .site__box05 .box .mockup .mockupview {
        width: 40vw;
        height: 32vw;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-53%, -50%);
    }

    .sec3 .site__wrap .site__box01 .box .desc,
    .sec3 .site__wrap .site__box02 .box .desc,
    .sec3 .site__wrap .site__box03 .box .desc,
    .sec3 .site__wrap .site__box04 .box .desc,
    .sec3 .site__wrap .site__box05 .box .desc {
        margin-top: 6vmax;
    }

    .sec3 .site__wrap .site__box01 .box .desc p,
    .sec3 .site__wrap .site__box02 .box .desc p,
    .sec3 .site__wrap .site__box03 .box .desc p,
    .sec3 .site__wrap .site__box04 .box .desc p,
    .sec3 .site__wrap .site__box05 .box .desc p {
        width: 90%;
        font-size: 1.5vmax;
        text-align: center;
    }

    .sec3 .site__wrap .site__box01 .box .desc .btns,
    .sec3 .site__wrap .site__box02 .box .desc .btns,
    .sec3 .site__wrap .site__box03 .box .desc .btns,
    .sec3 .site__wrap .site__box04 .box .desc .btns,
    .sec3 .site__wrap .site__box05 .box .desc .btns {
        margin: 5vmax 0 0 2vmax;
        width: 60%;
        justify-content: space-between;
    }

    .sec3 .site__wrap .site__box01 .box .desc .btns .left,
    .sec3 .site__wrap .site__box01 .box .desc .btns .right,
    .sec3 .site__wrap .site__box02 .box .desc .btns .left,
    .sec3 .site__wrap .site__box02 .box .desc .btns .right,
    .sec3 .site__wrap .site__box03 .box .desc .btns .left,
    .sec3 .site__wrap .site__box03 .box .desc .btns .right,
    .sec3 .site__wrap .site__box04 .box .desc .btns .left,
    .sec3 .site__wrap .site__box04 .box .desc .btns .right,
    .sec3 .site__wrap .site__box05 .box .desc .btns .left,
    .sec3 .site__wrap .site__box05 .box .desc .btns .right {
        background: none;
        width: 40%;
    }

    .sec3 .site__wrap .site__box01 .box .desc .btns .right a,
    .sec3 .site__wrap .site__box01 .box .desc .btns .left a,
    .sec3 .site__wrap .site__box02 .box .desc .btns .right a,
    .sec3 .site__wrap .site__box02 .box .desc .btns .left a,
    .sec3 .site__wrap .site__box03 .box .desc .btns .right a,
    .sec3 .site__wrap .site__box03 .box .desc .btns .left a,
    .sec3 .site__wrap .site__box04 .box .desc .btns .right a,
    .sec3 .site__wrap .site__box04 .box .desc .btns .left a,
    .sec3 .site__wrap .site__box05 .box .desc .btns .right a,
    .sec3 .site__wrap .site__box05 .box .desc .btns .left a {
        font-size: 2vw;
    }
}

@media (max-width: 478px) {

    .sec3 .site__wrap .site__box01 .box .mockup .mockupview,
    .sec3 .site__wrap .site__box02 .box .mockup .mockupview,
    .sec3 .site__wrap .site__box03 .box .mockup .mockupview,
    .sec3 .site__wrap .site__box04 .box .mockup .mockupview,
    .sec3 .site__wrap .site__box05 .box .mockup .mockupview {
        width: 25vmax;
        height: 18vmax;
    }

    .sec3 .site__wrap .site__box01 .box .desc .btns .left,
    .sec3 .site__wrap .site__box01 .box .desc .btns .right,
    .sec3 .site__wrap .site__box02 .box .desc .btns .left,
    .sec3 .site__wrap .site__box02 .box .desc .btns .right,
    .sec3 .site__wrap .site__box03 .box .desc .btns .left,
    .sec3 .site__wrap .site__box03 .box .desc .btns .right,
    .sec3 .site__wrap .site__box04 .box .desc .btns .left,
    .sec3 .site__wrap .site__box04 .box .desc .btns .right,
    .sec3 .site__wrap .site__box05 .box .desc .btns .left,
    .sec3 .site__wrap .site__box05 .box .desc .btns .right {
        width: 100%;
    }
}