* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    place-items: center;
    width: 100%;
    min-height: 100vh;
    font-family: system-ui;
    overflow-x: hidden;
}

.brown { 
    background-color: #f9f0dc;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #005397;
}

.scrollTop {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    z-index: 30000;
}

#header {
    width: 100%;
    position: absolute;
    bottom: -100px;
    left: 0;
}

#header .fixed {
    /* position: fixed; */
   
}

#nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Oi';
    font-weight: 300;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    background-color: #fff;
    height: 100px;
}

#nav ul li {
    padding: 20px 40px;
    font-size: 1.6vw;
    /* border-right: 1px solid #000; */
}

#nav ul li img {
    width: 5vw;
    height: 5vw;
}
#section {
    width: 100%;
}
.sec1 {
    width: 100%;
    height: 100vh;
}

.sec1 .title {
    font-size: 8vw;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1;
    font-family: "Oi";
    font-weight: 300;
    z-index: 1000;
}

.sec1 .title .t1 {
    -webkit-text-stroke: 3px #000;
}

.sec1 .title .t2 {
    color: #e13334;
    -webkit-text-stroke: 3px #000;
}

/* .sec1 .title .t3 {
    font-family: 'JUA';
    font-size: 2vw;
    color: rgb(248, 77, 77);
    text-align: left;
} */

.sec1 img {
    position: fixed;
    padding: 2vw;
    background-image: url(../img/facebg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2000;
}

/* sec1 */


/* sec2 */
.sec2 {
    width: 100%;
}

.sec2 .about {
    margin-top: 15vw;
    text-align: center;
    font-family: "Oi";
    font-weight: 300;
    text-transform: uppercase;
}

.sec2 .about h3 {
    font-size: 7vw;
    color: #fb450c;
    -webkit-text-stroke: 1px #000;
    margin-bottom: 3vw;
}

.sec2 .about .about__info01 {
    font-size: 6vw;
    display: flex;
    justify-content: center;
}

.sec2 .about .about__info01 span {
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.sec2 .about .about__info01 .aboutlogo {
    background-image: url(../img/ttlogo03.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 8vw;
    height: 8vw;
    margin: 0 2vw;
}

.sec2 .about .about__info01 em {
    color: #000;
    -webkit-text-stroke: 2px #f99fb7;
}

.sec2 .about .about__info02 {
    font-size: 6vw;
    display: flex;
    justify-content: center;
}

.sec2 .about .about__info02 span {
    color: #000;
    -webkit-text-stroke: 3px #ac9bc6;
}

.sec2 .about .about__info02 em {
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.sec2 .about .about__info02 .aboutlogo {
    background-image: url(../img/ttlogo01.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 8vw;
    height: 8vw;
    margin: 0 2vw;
}

.sec2 .about .about__info03 {
    font-size: 6vw;
    display: flex;
    justify-content: center;
}

.sec2 .about .about__info03 span {
    /* background: -webkit-linear-gradient(left, rgb(36, 35, 35), rgb(117, 114, 114));
    background:    -moz-linear-gradient(right, rgb(36, 35, 35), rgb(117, 114, 114));
    background:      -o-linear-gradient(right, rgb(36, 35, 35), rgb(117, 114, 114));
    background:         linear-gradient(to right, rgb(36, 35, 35), rgb(117, 114, 114));
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent; */
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.sec2 .about .about__info03 .aboutlogo {
    background-image: url(../img/ttlogo02.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 8vw;
    height: 8vw;
    margin: 0 2vw;
}

.sec2 .about .about__text {
    margin-top: 6vw;
    font-family: "SangSangRock";
    font-size: 1.8vw;
    line-height: 0.8;
    color: #603f37;
    position: relative;
}

.sec2 .about .about__text::before {
    content: "";
    background-image: url(../img/curlyarrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vw;
    position: absolute;
    right: 10%;
    bottom: -80%;
}
.sec2 .about .about__skill01 {
    width: 100%;
    margin-top: 15vw;
    display: flex;
    overflow: hidden;
}
.sec2 .about .about__skill01 .skills {
    margin: 1.5vw 1.5vw;
}

.sec2 .about .about__skill01 .skills img {
    height: 15vw;
}
.sec2 .about .about__skill02 {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.sec2 .about .about__skill02 .skills {
    margin: 1.5vw 1.5vw;
}

.sec2 .about .about__skill02 .skills:nth-child(1) {
    margin: 1.5vw 1.5vw 0 0;
}

.sec2 .about .about__skill02 .skills img {
    height: 15vw;
}

/* //section2 */

/* section3  */
.sec3 {
    width: 100%;
    margin-top: 10vw;
    height: 5000px;
    /* border-top: 1px solid #000; */
}
.sec3 .rolling__wrap {
    width: 150%;
    position: relative;
    left: -8em;
    bottom: -31px;
    display: flex;
    overflow: hidden;
    height: 25em;
    margin: 0em auto 7em;
    padding-top: 10em;
    padding-bottom: 0em;
    padding-left: 0em;
    transform: rotate(10deg) translateY(2vw) translateX(0vw);
}
.sec3 .rolling__wrap .rolling__box {
    position: absolute;
    overflow: hidden;
    width: 150%;
    height: 10vw;
    background-color: #ffbf2d;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
}
.sec3 .rolling__wrap .rolling__box p {
  font-size: 3vw;
  font-family: 'Luckiest Guy';
  font-weight: bold;
  padding: 3vw;
  line-height: 1;
  text-transform: uppercase;
}
.sec3 .rolling__wrap02 {
    width: 150%;
    position: relative;
    left: -8em;
    bottom: 525px;
    display: flex;
    /* justify-content: flex-end; */
    overflow: hidden;
    height: 25em;
    margin: 0em auto 7em;
    padding-top: 10em;
    padding-bottom: 0em;
    padding-left: 0em;
    transform: rotate(-10deg) translateY(-2vw) translateX(0vw);
}
.sec3 .rolling__wrap02 .rolling__box {
    position: absolute;
    overflow: hidden;
    width: 150%;
    height: 10vw;
    background-color: #FF450B;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
}
.sec3 .rolling__wrap02 .rolling__box p {
    font-size: 3vw;
    font-family: 'Luckiest Guy';
    font-weight: bold;
    padding: 3vw;
    line-height: 1;
    text-transform: uppercase;
  }
/* .sec3 .rolling__wrap .rolling__box img  {
    width: 1vw;
    height: 1vw;
} */

/* section03 rolling */

.sec3 .site__wrap {
    width: 70%;
    height: 40vw;
    margin: 0 auto;
    background: #E7FFF1;
    outline: 5px solid #000;
    box-shadow: 15px 15px #000;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
}
.sec3 .site__wrap .site__box {
    position: relative;
    width: 35%;
}

.sec3 .site__wrap .site__box .sitecircle {
    position: absolute;
    top: 5vw;
    left: 2.5vw;
    background-color: #0AB250;
    border-radius: 100%;
    width: 23vw;
    height: 23vw;
}
.sec3 .site__wrap .site__box .sitelogo {
    position: absolute;
    top: 2vw;
    left: 2.5vw;
    width: 9vw;
    height: 9vw;
}
.sec3 .site__wrap .site__box .sitemockup {
    position: absolute;
    top: 4vw;
    left: 10vw;
    width: 28vw;
    height: 38vw;
}
.sec3 .site__wrap .site__desc {
    width: 65%;
    white-space: wrap;
}
.sec3 .site__wrap .site__desc h3 {
    font-family: "Geostar Fill";
    font-size: 4vw;
    text-transform: uppercase;
    color: #0AB250;
    margin-top: 3vw;
}
.sec3 .site__wrap .site__desc p {
    width: 50%;
    text-align: left;
    margin: 3.5vw 0 0 18.5vw;
    font-family: "JUA";
    font-size: 1.3vw;
    line-height: 1.7;
    color: #074A23;
}
.sec3 .site__wrap .site__btn {
    display: flex;
    margin: 5vw 0 0 9vw;
    font-family: "Geostar Fill";
}
.sec3 .site__wrap .site__btn .left {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec3 .site__wrap .site__btn .left a {
    font-size: 1.2vw;
    color: #00843B;
    text-align: center;
    padding: 1vw 1vw;
    background: #E7F7E5;
    /* border: 2px solid #000; */
    border-radius: 50px;
    margin: 0 3vw 0 1vw ;
}
.sec3 .site__wrap .site__btn .left svg {
    vertical-align: -10px;
    margin-right: 3px;
    width: 2vw;
    height: 2vw;
}
.sec3 .site__wrap .site__btn .right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec3 .site__wrap .site__btn .right a {
    font-size: 1.2vw;
    color: #00843B;
    text-align: center;
    padding: 1vw 1vw;
    background: #E7F7E5;
    /* border: 2px solid #000; */
    border-radius: 50px;
}
.sec3 .site__wrap .site__btn .right svg {
    vertical-align: -10px;
    margin-right: 3px;
    width: 2vw;
    height: 2vw;
}

