* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fbbf2d;
}

#wrap {
    margin: 0 auto;
}

.container {
    width: 1520px;
    margin: 0 auto;
}

#header {
    font-family: "Oi";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2vmax;
    padding: 10px 15px;
    z-index: 600;
}

#header a:nth-child(1) {
    color: #fff;
    -webkit-text-stroke: 1px #000;
}

#header a:nth-child(2) {
    color: #fb450c;
    -webkit-text-stroke: 1px #000;
}

#header .menu {
    background-image: url(../img/cartoon01.svg);
    width: 64px;
    height: 64px;
    display: none;
}

/* //header  */

#contents {
    background: #f9f0dc;
}

/* section01 */
#section01 {
    background: #fbbf2d;
    height: 100vh;
    position: relative;
    font-family: "Oi";
}

#section01 img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 50%;
}

.sec1 {
    line-height: 0.9;
    text-align: center;
    position: relative;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec1 h1 {
    font-size: 10vw;
    -webkit-text-stroke: 3px #000;
}

.sec1 h1 strong {
    color: #fb450c;
    font-weight: 500;
    position: relative;
}

.sec1 h1 strong::before {
    content: "";
    background-image: url(../img/ttlogo01.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 7vw;
    height: 7vw;
    position: absolute;
    bottom: 70%;
    left: 7%;
}

.sec1 h1 strong::after {
    content: "";
    background-image: url(../img/ttlogo02.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 9vw;
    height: 9vw;
    position: absolute;
    bottom: 90%;
    right: 7%;
}

.sec1 h1 p {
    color: #fff;
    font-weight: 500;
    position: relative;
}

.sec1 h1 p::before {
    content: "";
    background-image: url(../img/facebg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 13vw;
    height: 13vw;
    position: absolute;
    bottom: 15%;
    right: 13%;
    animation: rotateIcon 10s linear infinite;
    transform-origin: 50% 50%;
}

.sec1 h1 p::after {
    content: "";
    background-image: url(../img/face02.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 8vw;
    height: 8vw;
    position: absolute;
    z-index: 600;
    bottom: 43%;
    right: 15.5%;
}

@keyframes rotateIcon {
    100% {
        transform: rotate(-360deg);
    }
}

/* //section01 */

/* section02 */
#section02 {}

.sec02 {}

/* SECETION02 ROLLING */
.sec02 .moveport {
    width: 100%;
    height: 6vmax;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    font-family: "Oi";
    padding: 10px 10px;
}

.sec02 .moveport .moving {
    display: flex;
    align-items: center;
    /* position: absolute; */
}

.sec02 .moveport .moving .portlogo {
    background-image: url(../img/portmoving.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 4.5vmax;
    height: 4.5vmax;
}

.sec02 .moveport .moving .porttext {
    font-size: 1.5vmax;
    padding: 1.5vw;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

/* //SECETION02 ROLLING */

/* SECTION02 ABOUT */
.sec02 .about {
    margin-top: 14vw;
    text-align: center;
    font-family: "Oi";
    font-weight: 300;
    text-transform: uppercase;
}

.sec02 .about h3 {
    font-size: 7vw;
    color: #fb450c;
    -webkit-text-stroke: 1px #000;
    margin-bottom: 3vw;
}

.sec02 .about .about__info01 {
    font-size: 6vw;
    display: flex;
    justify-content: center;
}

.sec02 .about .about__info01 span {
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.sec02 .about .about__info01 .aboutlogo {
    background-image: url(../img/ttlogo03.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 8vw;
    height: 8vw;
    margin: 0 2vw;
}

.sec02 .about .about__info01 em {
    color: #000;
    -webkit-text-stroke: 2px #f99fb7;
}

.sec02 .about .about__info02 {
    font-size: 6vw;
    display: flex;
    justify-content: center;
}

.sec02 .about .about__info02 span {
    color: #000;
    -webkit-text-stroke: 3px #ac9bc6;
}

.sec02 .about .about__info02 em {
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.sec02 .about .about__info02 .aboutlogo {
    background-image: url(../img/ttlogo01.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 8vw;
    height: 8vw;
    margin: 0 2vw;
}

.sec02 .about .about__info03 {
    font-size: 6vw;
    display: flex;
    justify-content: center;
}

.sec02 .about .about__info03 span {
    /* background: -webkit-linear-gradient(left, rgb(36, 35, 35), rgb(117, 114, 114));
    background:    -moz-linear-gradient(right, rgb(36, 35, 35), rgb(117, 114, 114));
    background:      -o-linear-gradient(right, rgb(36, 35, 35), rgb(117, 114, 114));
    background:         linear-gradient(to right, rgb(36, 35, 35), rgb(117, 114, 114));
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent; */
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.sec02 .about .about__info03 .aboutlogo {
    background-image: url(../img/ttlogo02.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 8vw;
    height: 8vw;
    margin: 0 2vw;
}

.sec02 .about .about__text {
    margin-top: 6vw;
    font-family: "SangSangRock";
    font-size: 1.8vw;
    line-height: 0.8;
    color: #603f37;
    position: relative;
}

.sec02 .about .about__text::before {
    content: "";
    background-image: url(../img/curlyarrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vw;
    position: absolute;
    right: 10%;
    bottom: -80%;
}

.sec02 .about .about__skill01 {
    margin-top: 15vw;
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.sec02 .about .about__skill01 .skills {
    margin: 1.5vw 1.5vw;
}

.sec02 .about .about__skill01 .skills img {
    height: 15vw;
}

.sec02 .about .about__skill02 {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.sec02 .about .about__skill02 .skills {
    margin: 1.5vw 1.5vw;
}

.sec02 .about .about__skill02 .skills:nth-child(1) {
    margin: 1.5vw 1.5vw 0 0;
}

.sec02 .about .about__skill02 .skills img {
    height: 15vw;
}

/* //Section02 */

/* section03 */
#section03 {
    height: 1000px;
}

.sec03 {
    font-family: "Oi";
}

.sec03 .siteline {
    position: relative;
}

.sec03 .siteline .line01 {
    width: 100%;
    height: 100px;
    background: #ff450b;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    position: absolute;
    /* overflow: hidden; */
    top: 0;
    right: 20px;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-8deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.sec03 .siteline .line01 p {}

.sec03 .siteline .line02 {
    width: 100%;
    height: 100px;
    background: #ffd110;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    position: absolute;
    /* overflow: hidden; */
    top: 20px;
    right: 20px;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(8deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.sec03 .siteline .line02 p {}

/* //siteline */

/* SITEWORK */
/* .sitetext {
    display: flex;
    justify-content: center;
    margin-top: 10vw;
  }
  .sitetext h3 {
    font-family: "Oi";
    font-weight: 300;
    font-size: 3vw;
  }
  .sitetext p {
    font-family: "BMJua";
    font-size: 1.5vw;
  } */
.sec03 .sitework {
    margin-top: 20vw;
}

.sec03 .sitework .aaasite {
    width: 100%;
    height: 40vw;
    background: #e7fff1;
    border: 5px solid #000;
    border-radius: 50px;
    box-shadow: 15px 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 10vw;
}

.sec03 .sitework .aaasite .sitebg {
    position: relative;
}

.sec03 .sitework .aaasite .sitebg h4 {
    margin: 4vw 3vw 5vw 0;
    font-size: 4vw;
    font-family: "Geostar";
    color: #0ab250;
    position: absolute;
    top: -0.5vw;
    left: 27vw;
    text-transform: uppercase;
}

.sec03 .sitework .aaasite .sitebg .round {
    background: #0ab250;
    width: 25vw;
    height: 25vw;
    border-radius: 100%;
    position: absolute;
    top: 7vw;
    left: 5vw;
}

.sec03 .sitework .aaasite .sitebg .mockup {
    background-image: url(../img/mockup00.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 22vw;
    height: 22vw;
    top: 13vw;
    left: 11vw;
    z-index: 100;
    position: absolute;
}

.sec03 .sitework .aaasite .sitebg .cartoon {
    background-image: url(../img/cartoon/cartoon01.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 9vw;
    height: 9vw;
    position: absolute;
    top: 5vw;
    left: 3vw;
}

.sec03 .sitework .aaasite .sitedesc {
    width: 50%;
    text-align: right;
    text-transform: uppercase;
}

.sec03 .sitework .aaasite .sitedesc p {
    margin: 0 3vw 3vw 0;
    text-align: left;
    font-size: 1.2vw;
    font-family: "Jua";
    color: #074a23;
}

.sec03 .sitework .aaasite .sitedesc .sitebtn {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Geostar";
    font-size: 1.2vw;
}

.sec03 .sitework .aaasite .sitedesc .sitebtn .codeview {
    padding: 1vw 2.5vw;
    background: #cef3ca;
    color: #00843b;
    border-radius: 65px;
}

.sec03 .sitework .aaasite .sitedesc .sitebtn .siteview {
    padding: 1vw 2.5vw;
    background: #cef3ca;
    color: #00843b;
    margin-left: 3vw;
    border-radius: 65px;
}


/* section04 */
#section04 {
    height: 3000px;
}

/* SECTION04 ROLLING */
.sec04 .movescirpt {
    width: 100%;
    height: 7vmax;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    font-family: "Oi";
    padding: 10px 10px;
    margin-top: 10vw;
}

.sec04 .movescirpt .moving {
    display: flex;
    align-items: center;
    /* position: absolute; */
}

.sec04 .movescirpt .moving .scriptlogo {
    background-image: url(../img/scriptmoving.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 5vmax;
    height: 5vmax;
}

.sec04 .movescirpt .moving .scripttext {
    font-size: 2.5vmax;
    padding: 1.7vw;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

/* //SECTION ROLLING04 */

/* scriptwork */
.sec04 .scriptwork {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 3%;
    margin-top: 20vw;
}

.sec04 .scriptwork .scriptbox {
    width: 72%;
    height: 35vw;
    background: #e7fff1;
    border: 5px solid #000;
    border-radius: 50px;
    box-shadow: 15px 15px;
    position: relative;
}

.sec04 .scriptwork .scriptbox iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    border: none;
    border-radius: 50px;
}

.sec04 .scriptwork .scriptdesc {
    width: 25%;
    height: 35vw;
    background: #fff;
    border: 5px solid #000;
    border-radius: 50px;
    box-shadow: 15px 15px;
    position: relative;
}
.sec04 .scriptwork .scriptdesc svg{
    position: absolute;
    top: -5vw;
    right: -1vw;
    width: 10vw;
    height: 10vw;
}
.sec04 .scriptwork .scriptdesc h4 {
    font-family: "Geostar";
    white-space: wrap;
    text-align: center;
    width: 98%;
    margin-top: 3vw;
    font-size: 3vw;
    font-weight: 100;
}
.sec04 .scriptwork .scriptdesc p {
    font-family: "Jua";
    font-size: 1.2vw;
    width: 80%;
    margin: 0 auto; 
    margin-top: 3vw;
    line-height: 1.5;
}
.sec04 .scriptwork .scriptdesc .scriptbtn {
    text-align: center;
}
.sec04 .scriptwork .scriptdesc .scriptbtn a {
    display: inline-block;
    margin-top: 4vw;
    font-family: "Jua";
    font-size: 1.5vw;
    padding: 0.8vw 2vw;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50px;
    background: #C18751;
    color: rgb(0, 0, 0);

}

/* //반응형(media) */
@media (max-width: 1400px) {
    .container {
        width: 92%;
    }
}

@media (max-width: 1280px) {}

@media (max-width: 768px) {
    .sec1 h1 {
        font-size: 11vw;
        -webkit-text-stroke: 2px #000;
    }

    .sec1 h1 strong::before {
        width: 13vw;
        height: 13vw;
    }

    .sec1 h1 strong::after {
        display: none;
    }

    .sec1 h1 p::before {
        bottom: 230%;
        left: 70%;
        width: 20vw;
        height: 20vw;
    }

    .sec1 h1 p::after {
        bottom: 270%;
        left: 74.3%;
        width: 12vw;
        height: 12vw;
    }

    .sec02 .about .about__info01 span,
    .sec02 .about .about__info02 em,
    .sec02 .about .about__info03 span {
        -webkit-text-stroke: 1px #000;
    }

    .sec02 .about .about__info01 em {
        -webkit-text-stroke: 1px #f99fb7;
    }

    .sec02 .about .about__info02 span {
        -webkit-text-stroke: 1px #ac9bc6;
    }
}

@media (max-width: 480px) {
    #header {
        font-size: 15px;
    }

    .sec1 h1 strong::before {
        width: 16vw;
        height: 16vw;
    }

    .sec1 h1 p::before {
        bottom: 270%;
        left: 60%;
        width: 30vw;
        height: 30vw;
    }

    .sec1 h1 p::after {
        bottom: 331%;
        left: 66.4%;
        width: 18vw;
        height: 18vw;
    }
}